html, body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 11pt;
  background-color: #333333;
}

h1, h2 {
  text-shadow: 0px 0px 10px black;
  color: white;
  text-align:center;
}

section {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.75); 
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.75);
}